.movies-card__image {
  height: 151px;
  object-fit: cover;
  object-position: center 0;
  width: 100%;
  transition: .5s ease;
}

.movies-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 14px 0 29px;
  width: 100%;
}

.movies-card__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  transition: .5s ease;
}

.movies-card__like-button {
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #f9f9f9;
  background-image: url(../../images/like-button.svg);
  background-size: 10px 8.5px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: .5s ease;
}

.movies-card__like-button:hover {
  opacity: .6;
}

.movies-card__like-button_active {
  background-image: url(../../images/like-button-active.svg);
}

.movies-card__delete-button {
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #f9f9f9;
  background-image: url(../../images/delete-button.svg);
  background-size: 9px 9px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: .5s ease;
}

.movies-card__delete-button:hover {
  opacity: .6;
}

.movies-card__time {
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  padding: 0;
  margin: 6px 0 0;
  transition: .5s ease;
}

@media screen and (max-width: 904px){
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 544px){
  .movies-card__image {
    height: 168px;
  }

  .movies-card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .movies-card__time {
    font-size: 10px;
    line-height: 12px;
  }
}

