.portfolio__link-container {
  display: flex;
  justify-content: stretch;
  transition: 0.5s ease;
}

.portfolio__link-container:hover {
  opacity: .6;
}

.portfolio__link {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 20px 0 19px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  transition: 0.5s ease;
}

.portfolio__logo {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  transition: 0.5s ease;
}

@media screen and (max-width: 904px){
  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__logo {
    font-size: 28px;
  }
}

@media screen and (max-width: 544px){
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__logo {
    font-size: 18px;
    line-height: 28px;
  }
}
