.header {
  height: 74px;
  width: inherit;
  padding: 18px 70px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: .5s ease;
}

.header_theme_light {
  background-color: inherit;
}

.header_theme_dark {
  background-color: #5c5c5c;
}

.header_link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 904px){
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 544px){
  .header {
    padding: 18px 14px;
  }
}
