.burger-menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.3);
  z-index: 2;
  position: fixed;
  left: 0;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  transition: visibility .5s, opacity .5s linear;
  visibility: hidden;
}

.burger-menu_opened {
  opacity: 1;
  visibility: visible;
}

.burger-menu__container {
  width: 100%;
  max-width: 520px;
  padding: 159px 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform .5s;
}

.burger-menu__container_opened {
  transform: translateX(0);
  transition: transform .5s;
}

.burger-menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.burger-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000;
  margin-bottom: 22px;
  padding-bottom: 4px;
  transition: .5s ease;
}

.burger-menu__link:hover {
  opacity: .6;
}

.burger-menu__link:last-of-type {
  margin: 0;
}

.burger-menu__link_active {
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 544px){
  .burger-menu__link {
    margin-bottom: 15px;
    padding-bottom: 7px;
  }
}

