.about-me {
  background-color: inherit;
  padding: 110px 70px 125px;
  transition: .5s ease;
}

.about-me__intro {
  margin: 66px 0 0;
  display: grid;
  gap: 0 49px;
  grid-template-columns: minmax(292px, 600px) auto;
  grid-template-rows: repeat(4, min-content);
  justify-content: space-between;
  transition: .5s ease;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  padding: 0;
  margin: 0 0 18px;
  transition: .5s ease;
}

.about-me__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 26px;
  transition: .5s ease;
}

.about-me__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  margin: 0 0 40px;
  transition: .5s ease;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  transition: .5s ease;
  align-self: end;
}

.about-me__link:hover {
  opacity: .6;
}

.about-me__photo {
  max-width: 270px;
  border-radius: 10px;
  object-fit: cover;
  grid-row: 1/5;
  grid-column: 2;
  transition: .5s ease;
}

@media screen and (max-width: 904px){
  .about-me {
    padding: 90px 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 16px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px;
  }

  .about-me__info {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__photo {
    max-width: 255px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 730px){
  .about-me__intro {
    margin: 60px 0 0;
    grid-template-columns: minmax(292px, auto);
    gap: 0;
    grid-template-rows: repeat(5, min-content);
  }

  .about-me__photo {
    max-width: 292px;
    grid-row: 1;
    grid-column: 1;
  }
}

@media screen and (max-width: 544px){
  .about-me {
    padding: 70px 14px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36.3px;
    margin: 0 0 20px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__info {
    font-size: 11px;
    line-height: 16px;
  }
}
